html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  color: #444245;
  background-color: #f5f5f5f5;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.d-none {
  display: none;
}
