// COLORS
$color-primary: #444245;
$only-btn-color: #fff;
$only-btn-bg: #7ec7ff;
$btn-color: #444245;

// Container
$width-container: 1310px;
$p-container: 15px;

// FONTS
$font-stack: "Montserrat", sans-serif;
