.about {
  padding: 0 0 60px;
  background-color: #fff;

  .container {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.about__text-wrapper {
  padding-left: 20px;
  width: 50%;
}

.about__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}

.about__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}

.about__text {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  opacity: 70%;
  margin: 0;

  &:nth-child(5),
  &:nth-child(6) {
    overflow: hidden;
  }
}

.remove {
  display: none;
}

.about__img {
  position: relative;
  margin: 40px 80px 0;
  border: 8px solid #2ba1ff;
  height: 500px;
  width: 40%;
  border-radius: 10px;

  img {
    border-radius: 10px;

    position: absolute;
    left: 40px;
    bottom: 40px;
    height: 100%;
  }
}

@include breakpoint-down(870px) {
  .about {
    .container {
      flex-direction: column;
    }

    .about__text-wrapper {
      width: 100%;
    }

    .about__img {
      width: 90%;
      margin-left: 15px;

      img {
        width: 100%;
      }
    }
  }
}

@include breakpoint-down(500px) {
  .remove {
    display: block;
    padding-top: 62px;
    padding-left: 20px;
  }

  .about {
    padding: 40px 0 50px;
    color: #444245;

    .container {
      flex-direction: column;
    }

    .about__text-wrapper {
      padding: 0 0 0 20px;
      width: 100%;
    }

    .about__title {
      font-size: 24px;
      line-height: 36px;
    }

    .about__subtitle {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
    }

    .about__text {
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      width: 100%;

      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }

    .about__img {
      top: 20px;
      width: 90%;
      height: 307px;
      border: 4px solid rgba(43, 161, 255, 1);

      img {
        left: 20px;
        bottom: 20px;
        height: 307px;
      }
    }
  }
}
