.intro {
  padding-top: 90px;
  text-align: center;
}

.intro__title {
  margin: 0 auto;
  padding-top: 70px;
  font-size: 44px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 950px;
  margin-bottom: 50px;
}

.intro__subtitle {
  margin: 0 auto 70px auto;
  padding: 10px 0 0 0;
  width: 400px;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);

  &::before {
    position: absolute;
    left: 32%;
    bottom: -20px;
    content: "";
    height: 1px;
    width: 140px;
    background-color: #fff;
  }
}

.zakaz-btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  border-radius: 8px;
  padding: 15px 40px 15px 40px;
  background: #69bdff;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #69bdff;
    background-color: transparent;
    color: #69bdff;
  }
}

@include breakpoint-down(1083px) {
  .intro__title {
    width: 90%;
    font-size: 50px;
  }
}

@include breakpoint-down(500px) {
  .intro__title {
    font-size: 22px;
    line-height: 34px;
    width: 335px;
  }
  .intro__subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 267px;
    &::before {
      width: 100px;
      left: 80px;
    }
  }
  .zakaz-btn {
    display: inline-block;

    padding: 10px 40px;
  }
}

@include breakpoint-down(400px) {
  .intro__title {
    width: 90%;
  }
}
