.navbar {
  z-index: 1000000;
  position: fixed;
  padding: 22px 0;
  width: 100%;
  height: 90px;

  .container {
    align-items: baseline;
  }
}

.btn-zakaz {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  background: #69bdff;

  padding: 10px 22px !important;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  &:hover {
    color: #ffffff !important;
  }
}

.sticky {
  top: 0;
  background: #f9f9f9;

  .fa-bars {
    color: #242424;
  }
  .btn-zakaz {
    color: #ffffff;

    &:hover {
      color: #ffffff;
    }
  }

  .menu__link {
    color: #444245;
    &:nth-child(2) {
      color: #ffffff !important;
    }
  }
  .header__phone {
    color: #444245;
  }

  .header__menus {
    * {
      color: #ffffff;
    }
  }
}

.fa-bars {
  color: #ffffff;
}

.header__burger {
  display: none;
  border: none;
  background-color: transparent;
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__phone {
  padding-left: 50px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  &:hover {
    color: #2aa1ff;
  }
}

.menu__item {
  padding-left: 40px;
}

.menu__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 5px 0;
  &:hover {
    color: #2aa1ff;
  }
}

.x-btn {
  display: none;
}

@include breakpoint-down(750px) {
  .header__phone {
    display: block !important;
  }
  .x-btn {
    display: inline-block;
    font-size: 40px;
    position: relative;
    right: -150px;
  }
  .header__logo-wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .header__burger {
    display: block;
  }
  .header__menu {
    display: none;
  }

  .header__menus {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 100000;
  }
  .header__menu {
    padding: 20px 20px;
  }
  .menu__item,
  .x-btn {
    padding: 5px 30px;
  }
}

@include breakpoint-down(1083px) {
  .header__menu {
    padding: 0;
    .menu__item {
      padding-left: 20px;
    }
  }
}

@include breakpoint-down(911px) {
  .header__logo-wrapper {
    .header__phone {
      display: none;
    }
  }
}

@include breakpoint-down(500px) {
  .header__logo-wrapper {
    width: 100%;
    justify-content: space-between;
    .header__phone {
      display: block;
      padding: 0;
    }
  }

  .header__menu {
    padding: 20px 20px;
  }
  .menu__item,
  .x-btn {
    padding: 5px 30px;
  }
}

@include breakpoint-down(325px) {
  .header__logo-wrapper {
    .header__phone {
      display: none !important;
    }
  }
}
